.header {
    background: #000;
}

.header__inner {
    padding: 20px 15px;
}

.header-utilities {
    display: flex;
    align-items: center;

}

.header__logo {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

img {
    width: 100%;
}

.header-utilities nav {
    width: 30%;
}

.header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-nav__link {
    color: #fff;
    text-decoration: none;
}

.header-nav__button {
    border: none;
    background: transparent;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .header__inner {
        width: 80%;
    }
}
