
.tab-switch {
    display: flex;
    flex-wrap: wrap;
}

.tab-switch:after {
    content: '';
    width: 100%;
    display: block;
    order: -1;
    /* 擬似要素を上部に配置 */
}

.tab-switch>label {
    order: -1;
    /* タブボタンを上部に配置 */
    text-align: center;
    cursor: pointer;
    padding: 5% 0 1% 7%;
}

.tab-switch>label:hover,
.tab-switch label:has(:checked) {
    color: red;
}

.tab-switch input {
    display: none;
}

/* タブコンテンツのスタイル */
.tab-switch>div {
    display: none;
    /* 初期状態ではコンテンツを非表示に */
    width: 100%;
}

/* 選択されたタブのコンテンツを表示 */
.tab-switch label:has(:checked)+div {
    display: flex;
    flex-wrap: wrap;
}

.tab-content {
    border-top: 1px solid #000;
}

.content {
    width: 20%;
    margin: 3% 2%;
}

.tab-content img {
    width: 100%;
}

.content-name__link {
    text-decoration: none;
}
