.register-form__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
}

.register-form__heading {
    margin-bottom: 30px;
    text-align: center;
}

.form {
    margin: 0 auto;
    width: 50%;
    text-align: center;
}

.form__group {
    margin-bottom: 10px;
}

.form__group-title {
    text-align: left;
    font-weight: bold;
}

.form__error {
    height: 20px;
    color: #ff0000;
    text-align: left;
}

.form__input-text input {
    padding: 10px;
    width: 100%;
    height: 40px;
    border: 1px solid #5e5e5e;
    border-radius: 4px;
    appearance: none;
}

.form__button {
    margin-top: 80px;
}

.form__button-submit {
    padding: 10px;
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 3px;
    background: #ff5454;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
}

.login__link {
    margin-top: 30px;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .register-form__content {
        width: 80%;
    }
}
